@import '@/style/colors';
@import 'src/style/fonts';
@import 'src/components/common-components/scss/mixins.scroll';

.toolbar {
  // @media only screen and (max-width: 2600px) {
  //   width: calc(100% - 1200px) !important;
  // }
  // @media only screen and (max-width: 1800px) {
  //   width: calc(100% - 680px) !important;
  // }
  // @media only screen and (max-width: 1700px) {
  //   width: calc(100% - 740px) !important;
  // }
  // @media only screen and (max-width: 1440px) {
  //   width: calc(100% - 680px) !important;
  // }
  // @media only screen and (max-width: 1024px) {
  //   width: calc(100% - 670px) !important;
  // }
  // @media only screen and (max-width: 920px) {
  //   width: calc(100% - 500px) !important;
  // }
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  width: 816px;

  @media only screen and (max-width: 1500px) {
    width: auto;
  }

  @media only screen and (max-height: 800px) {
    padding-top: 5px;
  }

  .leftSection {
    align-items: center;
    display: flex;
    float: left;
  }

  svg {
    height: 100%;
  }

  .rightSection {
    align-items: center;
    display: flex;
    float: right;

    .share {
      border: 1px solid $color-light-gray-third;
      border-radius: 5px;
      color: $color-gray-dark-secondary;
      cursor: pointer;
      font-size: $font-size-14;
      font-size: 14px;
      height: 32px;
      padding: 4px 10px !important;

      .robotIcon {
        width: 20px;
      }

      &:hover {
        background-color: #f2f2f3;
      }

      @media only screen and (max-width: 1530px) {
        padding: 4px 5x !important;
      }

      .contentIdeasBtnLabel {
        margin-bottom: 10px;
      }

      .contentIdeasBtnLabel,
      .shareBtnLabel {
        @media only screen and (max-width: 1690px) {
          display: none;
        }
      }
    }

    .share:hover {
      border: 1px solid $color-white-secondary;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }

  .undoBtn,
  .redoBtn {
    padding: 0;
    width: 30px;

    &:hover {
      background: $color-body-background;
      border-radius: 5px;
    }
  }
}

.editor {
  background-color: $color-body-background;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.03);
  cursor: text;
  height: 100%;
  overflow: hidden scroll;
  // margin: 10px 42px;
  // position: relative;
  transition: height 0.3s ease-in;
  width: 100%;

  ::selection {
    background: #313337;
  }

  &.zoom05 {
    :global(.DraftEditor-root) {
      zoom: 0.5;
    }
  }

  &.zoom075 {
    :global(.DraftEditor-root) {
      zoom: 0.75;
    }
  }

  &.zoom09 {
    :global(.DraftEditor-root) {
      zoom: 0.9;
    }
  }

  &.zoom1 {
    :global(.DraftEditor-root) {
      zoom: 1;
    }
  }

  &.zoom12 {
    :global(.DraftEditor-root) {
      zoom: 1.2;
    }
  }

  &.zoom15 {
    :global(.DraftEditor-root) {
      zoom: 1.5;
    }
  }

  &.zoom2 {
    :global(.DraftEditor-root) {
      zoom: 2;
    }
  }

  :global(h1) {
    font-size: $font-size-30;
  }

  :global(h2) {
    font-size: $font-size-24;
  }

  :global(h3) {
    font-size: $font-size-20;
  }

  :global(h4) {
    font-size: $font-size-16;
  }

  :global(.public-DraftEditorPlaceholder-root) {
    top: 43px;
    width: unset;
  }

  :global(.DraftEditor-root) {
    // @include scrollbars(5px, rgba(138,138,138,0.32), rgba(138,138,138,0.12));
    // overflow-y: scroll !important;
    padding: 30px 70px 70px;
  }

  &.expandedEditor {
    margin: 10px !important;
    width: auto !important;

    :global(.DraftEditor-root) {
      height: 100% !important;
      padding: 10px 20px !important;
    }
  }

  .divider {
    border-right: 1px solid $color-white-secondary;
    height: 24px;
    margin: 5px 0;
  }

  .button {
    padding: 4px 7px !important;

    &:hover {
      background: $color-body-background;
    }
  }
}

.expandBtn {
  border: 1px solid transparent;
  cursor: pointer;
  height: 32px;
  margin-left: 10px;
  padding-top: 3px;
  width: 32px;

  svg {
    height: 14px;
  }

  &:hover {
    background-color: $color-body-background;
    border-radius: 5px;
  }
}

.copyTooltip {
  :global(.ant-tooltip-content) {
    background-color: $color-gray-dark;
    border-radius: 10px !important;
  }

  :global(.ant-tooltip-arrow) {
    display: none !important;
  }

  :global(.ant-tooltip-inner) {
    border-radius: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.extensionButton {
  bottom: 77px;
  clip-path: polygon(82% 45%, 310% 105%, 7% 110%, 82% 97%);
  float: right;
  max-width: 310px;
  padding: 15px 24px;
  position: sticky;
  right: 0;
  text-align: right !important;
  transition: all ease-in-out 0.3s;
  z-index: 999;

  &:hover {
    background: #f9f9fb;
    border-radius: 5px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
    clip-path: polygon(-25% -5%, 179% -40%, 246% 87%, -27% 124%);
    cursor: pointer;
    outline: none;

    .iconbutton {
      display: none;
    }
  }

  &:focus {
    background: #f9f9fb;
    border-radius: 5px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
    clip-path: polygon(-25% -5%, 179% -40%, 246% 87%, -27% 124%);
    outline: none;

    .iconbutton {
      display: none;
    }
  }

  .iconbutton {
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 55px;
    transition: ease-out 0.3s;

    &:hover {
      cursor: pointer;
    }

    img {
      background: #f9f9fb;
      border-radius: 5px 0 0 5px;
      padding: 10PX 15px;
    }
  }


  .ctaTitle {
    color: #4e5156;
    display: flex;
    font-size: 12px;
    font-weight: normal;
    justify-content: center;
    line-height: 16px;
    margin-bottom: 8px;
    text-align: center;
  }

  .extensionButtonStyle {
    align-items: center;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 3px 12px;
    width: auto;

    a {
      color: #121212;
      font-size: 14px;
      font-weight: normal;
      line-height: 22px;
      text-decoration: none;
    }

    img {
      margin-right: 8px;
    }
  }
  @media (max-width: 1950px) {
    //display: none;
  }

  .closeIcon {
    color: #121212;
    opacity: 0.6;
    position: absolute;
    right: 11px;
    top: 8px;
  }

  .closeIcon:hover {
    opacity: 1 !important;
  }

  .closeIcon {
    svg {
      height: 12px;
      overflow: visible;
      position: absolute;
      right: 0;
      top: 0;
      width: 12px;
    }
  }
}

.writeForMeContainer {
  background-color: transparent;
}

.writeForMeFeatherIcon {
  background-color: transparent;
}


