@import 'src/style/highlights';
@import 'src/style/colors';
@import 'src/style/fonts';

* {
  font-family: Inter, serif;

}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f5 !important;
  height: 100vh;
}

.ant-message {
  z-index: 6 !important;
}

.settingsDrawer {
  z-index: 5 !important;

  .ant-drawer-header {
    padding-top: 31px;

    .ant-drawer-title {
      font-size: 24px;
      font-weight: 600;
    }
  }
}

.ant-page-header-back {
  font-size: $font-size-16;
  line-height: 1;
  margin-right: 5px !important;
}

div.DraftEditor-root {
  background-color: $color-white;
  height: auto;
  margin: 10px 0;
  // height: calc(100vh - 267px);
  margin-bottom: -32px;
  min-height: 350px;
  padding: 70px;
  width: 816px;

  .public-DraftEditor-content {
    min-height: 350px;
  }
}

.rc-dialog-wrap {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.rc-dialog-mask {
  background-color: rgba(17, 18, 24, 0.7);
  z-index: 3;
}

.rc-dialog-content {
  border-radius: 10px;
}

.notFound {
  height: 100%;
  text-align: center;

  .message,
  .button {
    margin-top: 26px;
  }

  .message {
    color: rgba(18, 18, 18, 0.6);
    font-size: $font-size-16;
  }

  .button {
    background: transparent;
    border: 1px solid #696777;
    border-radius: 5px;
    color: $color-gray-dark;
    padding: 0 35px;
  }
}

.newTextBlock {
  .public-DraftStyleDefault-block {
    background-color: #ebf7fe;
    border-radius: 5px;
    margin-left: -10px;
    margin-top: -10px;
    padding: 10px;
  }
}

//Draft JS Block Formatting styles
.codeBlock {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: Inconsolata,Menlo,Consolas,monospace;
  font-size: $font-size-16;
  padding: 20px;
}

.headerOneWithTag,
.headerTwoWithTag,
.headerThreeWithTag,
.headerFourWithTag,
.headerFiveWithTag,
.headerSixWithTag,
.paragraphWithTag {
  margin-bottom: 14px;
  margin-top: 10px;
}

.newTextBlock {
  .public-DraftStyleDefault-block {
    background-color: #ebf7fe;
    border-radius: 5px;
    margin-left: -10px;
    margin-top: -10px;
    padding: 10px;
  }
}


