@import '@/style/colors';

.header-toolkit {
  position: relative;
}

.header-modal {
  background: rgba(40, 40, 40, 0.2);
  border-radius: 5px;
  display: flex;
  filter: drop-shadow(0 5px 13px rgba(0, 14, 88, 0.2));
  padding: 2px;
  position: absolute;
  top: -43px;
  width: 260px;
  z-index: 5;

  &__option {
    color: $color-white;
    cursor: pointer;
    font-weight: 600;
    padding: 7px;

  }

  &__selected {
    background: $color-secondary-text;

    &:last-child {
      border-radius: 0 5px 5px 0;
      padding-right: 10px;
    }

    &:first-child {
      border-radius: 5px 0 0 5px;
      padding-left: 10px;
    }
  }

  &::after {
    border-color: transparent #282828 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: medium;
    bottom: -6px;
    content: ' ';
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 88%;
    transform: rotate(-90deg);
    width: 0;
  }
}
