@import '@/style/colors';

.header-toolkit {
  // margin-right: 5px;
  position: relative;

  .button {
    padding: 4px 7px !important;
  }

  &:hover {
    background: $color-body-background;
    border-radius: 5px;
  }

  .active {
    background: rgba(45, 108, 202, 0.1);
    border-radius: 4px;
  }
}
