@import 'src/style/colors';
@import 'src/style/fonts';
@import 'src/components/layout/style/layout';
@import 'src/components/common-components/scss/mixins.scroll';


.header {
  align-items: center;
  background: #24262a;
  border-bottom: 1px solid #323438;
  cursor: default;
  display: flex;
  height: 78px;
  justify-content: space-between;
  padding-left: 0.6em;
  transition: all 0.5s ease;
  z-index: 3;
  @media (max-height: 800px) {
    height: 50px;
  }

  :global(.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder) {
    padding-right: 0.1px;
    @media (max-width: 1013px) {
      display: none;
    }
    @media (max-width: 991px) {
      display: block;
    }
    @media (max-width: 799px) {
      display: none;
    }
  }

  :global(.ant-select-single:not(.ant-select-customize-input) .ant-select-selector) {
    padding: 0 6px;
  }

  @media screen and (min-width: 991px) {
    &.checkoutLogo {
      padding-left: 0 !important;

      img {
        cursor: pointer;
        padding-left: 145px;
      }
    }
  }

  &CaretDown {
    transform: translateX(-25px);
  }

  &CaretDownCountry {
    transform: translateX(-15px);

    > span > svg {
      width: 10px;
    }
  }

  &__button-transparent {
    background: transparent !important;
    margin-right: 10px;

    &:hover {
      background: $color-light-gray-secondary !important;
    }
  }

  &__search-input-wrapper {
    flex-grow: 1;
    padding-left: $content-padding-horizontal;
  }

  &__location-select {
    border-radius: 5px;
    color: $color-white;
    margin-left: 15px;
    padding: 7px 12px;

    svg {
      color: $color-icons;
      margin-left: 5px;
    }
  }

  &__search-input {
    max-width: 1000px;

    :global(.ant-input-prefix),
    :global(.ant-input) {
      color: $color-white;
    }

    :global(.ant-input-prefix) {
      align-items: center;
      display: flex;
      margin-right: 8px;
    }

    :global(.ant-input-affix-wrapper) {
      background: rgba(255, 255, 255, 0.53);
      border: 0;
      border-radius: 8px;
      height: 36px;
    }

    :global(.ant-input) {
      background: transparent;
      border: 0;
    }
  }

  &__user-menu {
    padding-left: 20px;
    padding-right: 40px;

    div {
      height: 38px;

      :global(.ant-avatar) {
        background-color: $color-gray-dark-secondary !important;
        color: $color-gray-light;
        font-size: $font-size-12;
        font-weight: 700;
        height: 100%;
        width: 38px;
        @media (max-height: 800px) {
          height: 32px;
          width: 32px;
        }

        span {
          align-items: center;
          display: flex;
          height: 100%;
        }
      }
    }
  }

  &__buttons {
    margin-left: auto;
    position: relative;

    // &::after {
    //   background-color: $color-gray-dark-secondary !important;
    //   content: '';
    //   display: inline-block !important;
    //   height: 28px;
    //   position: absolute;
    //   right: 0;
    //   top: 5px;
    //   width: 1px;

    // }

    button {
      padding: auto 20px !important;
    }
  }

  &__buttons-btn {
    margin-right: 10px;
  }

  &__buttons_place-an-order {
    background: transparent;
    border: 1px solid $color-light-gray-secondary;
    color: $color-non-primary-text;
  }

  &__companySelectionHeading {
    color: #a3a4a4;
    font-weight: 500;
    margin-bottom: 0;
    margin-right: 3px;
    white-space: nowrap;

    // &:hover {
    //   border: 1px solid #4e5156 !important;
    //   border-radius: 5px;
    //   padding: 5px 12px;
    // }

    span {
      @media (max-width: 1270px) {
        display: none;
      }
    }
  }

  &__backlinkSelectionHeading {
    color: #a3a4a4;
    font-weight: 500;
    margin-bottom: 0;
    margin-right: 3px;
    padding-left: 1rem;
    white-space: nowrap;

    span {
      @media (max-width: 1270px) {
        display: none;
      }
    }
  }

  &__selectorWrapper {
    display: inline-block;
    padding-left: 0.25rem;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &-companyName {
      color: $color-non-primary-text;
      font-weight: 500;
    }

    &-companySelectionIcon {
      left: 3px;
      position: relative;
      top: 5px;

      :global(svg) {
        height: 19px;
        margin-right: -14px;
        stroke-width: 3px;
        top: 8px;
        width: 19px;
      }
    }
  }

  &__gsc-menu {
    display: flex;

    height: 38px !important;
    justify-content: space-between;
    width: 64%;
  }

  &__sca-menu {
    display: flex;
    height: 20px !important;
    justify-content: space-between;
    margin-left: 80px;

    @media only screen and (max-width: 1300px) {
      margin-left: 70px;
    }
  }

  &__sca-menu-item {
    border-left: 1px solid $color-gray-light;
    color: $color-gray-light;
    cursor: pointer;
    padding: 0 10px;
    transition: all 0.3s ease;

    &:hover {
      color: $color-white;
    }

    &:first-child {
      border-left: 0;
      padding-left: 0;
    }
  }

  &__project-menu {
    align-items: center;
    border: 1px solid transparent !important;
    border-radius: 5px;
    color: $color-non-primary-text;
    display: flex;
    height: 38px;
    margin-left: 0 !important;
    max-width: 380px;
    min-width: 185px;

    transition: background-color 0.6s;
    transition: all 0.3s ease-out;
    @media (max-width: 1013px) {
      margin-right: -28px !important;
    }
    @media (max-width: 991px) {
      margin-right: -4px !important;
    }
    @media (max-width: 799px) {
      margin-right: -28px !important;
    }
  }

  &__projectbacklink-menu {
    align-items: center;
    border: 1px solid transparent !important;
    border-radius: 5px;
    color: $color-non-primary-text;
    display: flex;
    height: 38px;
    margin-left: 0.75rem !important;
    max-width: 380px;
    min-width: 185px;

    transition: background-color 0.6s;
    transition: all 0.3s ease-out;
    @media (max-width: 1013px) {
      margin-right: -28px !important;
    }
    @media (max-width: 991px) {
      margin-right: -4px !important;
    }
    @media (max-width: 799px) {
      margin-right: -28px !important;
    }
    @media (max-width: 576px) {
      margin-left: 2rem !important;
    }
  }

  &__project-menu-open {
    background: rgba(84, 86, 90, 0.1);
    border: 1px solid $color-gray-dark-secondary !important;
    border-radius: 5px;
    z-index: 1;
  }

  &__project-menu-close {
    padding-left: 10px;
    z-index: 1;

    &:hover {
      background: rgba(84, 86, 90, 0.1);
      border: 1px solid $color-gray-dark-secondary !important;
      border-radius: 5px;
    }

    :global(.ant-select-selector) {
      margin-right: 20px !important;
      padding-left: 100px !important;
      padding-right: 13px !important;
      width: auto !important;

      :global(.ant-select-selection-item) {
        padding-right: 0 !important;
      }
    }
  }

  &__projectbacklink-menu-open {
    background: rgba(84, 86, 90, 0.1);
    border: 1px solid $color-gray-dark-secondary !important;
    border-radius: 5px;
    z-index: 1;
  }

  &__projectbacklink-menu-close {
    padding-left: 10px;
    z-index: 1;

    &:hover {
      background: rgba(84, 86, 90, 0.1);
      border: 1px solid $color-gray-dark-secondary !important;
      border-radius: 5px;
    }

    :global(.ant-select-selector) {
      margin-right: 20px !important;
      padding-left: 100px !important;
      padding-right: 13px !important;
      width: auto !important;

      :global(.ant-select-selection-item) {
        padding-right: 0 !important;
      }
    }
  }

  &__countries-menu {
    align-items: center;
    border: 1px solid transparent !important;
    border-radius: 5px;
    color: $color-non-primary-text;
    display: flex;
    height: 38px;
    margin-left: 5px !important;

    transition: background-color 0.6s;
    transition: all 0.3s ease-out;

    :global(.ant-select:hover) {
      background: rgba(84, 86, 90, 0.1);
      border: 1px solid $color-gray-dark-secondary !important;
      border-radius: 5px;
    }

    :global(.ant-select) {
      border: 1px solid transparent !important;
      width: 100%;
    }
  }

  &__countries-menu-open {
    // background: rgba(84, 86, 90, 0.1);
    // border: 1px solid $color-gray-dark-secondary !important;
    border-radius: 5px;
    width: 100%;
    z-index: 1;
  }

  &__countries-menu-close {
    width: 100%;
    z-index: 1;

    &:hover {
      // background: rgba(84, 86, 90, 0.1);
      // border: 1px solid $color-gray-dark-secondary !important;
      border-radius: 5px;
    }

    :global(.ant-select-selector) {
      margin-right: 7px !important;
      min-width: 174px !important;
      padding-left: 90px !important;
      padding-right: 13px !important;
      width: auto !important;
      @media (max-width: 1270px) {
        margin-right: -8px !important;
        min-width: auto !important;
      }

      :global(.ant-select-selection-item) {
        display: none !important;
        padding-right: 0 !important;
      }
    }
  }
}


.pickerHeader {
  background: transparent !important;
  border: 1px solid transparent !important;
  border-color: 0 !important;
  border-radius: 5px !important;
  box-shadow: none !important;
  cursor: pointer;
  padding: 6px 38px !important;
  @media (max-width: 1207px) {
    display: none !important;
  }

  &:hover {
    border-right-width: 0 !important;
  }

  :global(.ant-picker-focused) {
    border-color: 0 !important;
    border-right-width: 0 !important;
  }

  :global(.ant-picker:hover) {
    border-color: 0 !important;
    border-right-width: 0 !important;
  }

  span {
    display: none !important;
  }

  :global(.ant-picker-input) > input {
    cursor: pointer;
    width: 6em;
  }

  :global(.ant-picker-input) {
    width: 87px;
  }

  :global(.ant-picker-active-bar) {
    background-color: $color-purple-medium !important;
    margin-left: 105px !important;
  }

  :global(.ant-picker-input > input) {
    color: $color-white !important;
  }

  :global(.ant-picker-range-separator) {
    color: $color-non-primary-text !important;
    padding: 3px;
  }

  :global(.ant-picker-suffix) {
    color: $color-non-primary-text;
    margin: 0;
  }
}


.customPicker {
  background: #313337 !important;
  border-radius: 5px;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.18);
  left: 32.7em !important;
  top: 5em !important;
  width: 744px !important;

  :global(.ant-picker-ranges .ant-picker-preset > .ant-tag-blue) {
    background: none;
    border: hidden;
    border-color: $color-gray-dark-secondary;
    color: rgba(222, 222, 222, 1);
    cursor: pointer;
    font-size: $font-size-14;
    padding: 5px;

    &:hover {
      border: 1px solid $color-gray-dark-secondary;
      border-radius: 5px;
    }
  }

  @media (max-width: 1203px) {
    opacity: 1 !important;
  }
  @media screen and (max-width: 991px) {
    left: 5.5em !important;
  }

  :global(.ant-picker-panel-container) {
    background-color: rgba(49, 51, 55, 1);
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
  }

  :global(.ant-picker-panels) {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
  }

  :global(.ant-picker-range-arrow) {
    display: none !important;
  }

  :global(.ant-picker-cell-inner) {
    color: $color-white-secondary !important;
    font-size: $font-size-14;
    min-height: 30px !important;
    min-width: 30px !important;
    padding-top: 2px !important;

    &::after {
      background: $color-purple-medium !important;
    }

    &:hover {
      background: $color-purple-medium !important;
    }
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
    border-radius: 2px !important;
  }

  :global(.ant-picker-cell::before) {
    background: transparent !important;
  }

  :global(.ant-picker-cell::after) {
    border-color: $color-purple-medium !important;
    border-radius: 2px !important;
    box-sizing: border-box !important;
  }

  :global(.ant-picker-cell-range-start > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;

    &:hover {
      background-color: #512283 !important;
    }
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-in-range::before) {
    background: $color-purple-medium !important;
    opacity: 0.2;

    &:hover {
      background: $color-purple-medium !important;
    }
  }

  :global(.ant-picker-cell-disabled::before) {
    background: none !important;
  }

  :global(.ant-picker-cell-range-start > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
  }

  :global(.ant-picker-cell-range-hover-end > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
  }

  :global(.ant-picker-header button) {
    color: $color-white !important;
    font-size: $font-size-16;
    font-weight: bold;
  }

  :global(.ant-picker-content th) {
    color: rgba(163, 164, 164, 1) !important;
    cursor: default;
    font-size: $font-size-12;
    font-weight: 600;
    text-transform: uppercase;
  }

  :global(.ant-picker-content tr:nth-child(6)) {
    display: none;
  }

  :global(.ant-picker-ranges) {
    padding-top: 15px;
  }

  :global(.ant-picker-panel) {
    border-bottom: 1px solid #57555c !important;
    width: 350px !important;
  }

  :global(.ant-picker-date-panel) {
    width: 350px !important;

    :global(.ant-picker-body) {
      width: 350px !important;

      :global(.ant-picker-content) {
        width: 100% !important;
      }
    }
  }

  :global(.ant-picker-header) {
    border-bottom: 1px solid #57555c !important;
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before) {
    background: $color-orange-primary;
    border: hidden !important;
    height: 4px;
    left: 25px;
    top: 5px;
    width: 4px;
  }
}

.customPickerOneMonth {
  background: #313337 !important;
  border-radius: 5px;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.18);
  left: 32.7em !important;
  top: 5em !important;
  width: 744px !important;

  :global(.ant-picker-ranges .ant-picker-preset > .ant-tag-blue) {
    background: none;
    border: hidden;
    border-color: $color-gray-dark-secondary;
    color: rgba(222, 222, 222, 1);
    cursor: pointer;
    font-size: $font-size-14;
    padding: 5px;

    &:hover {
      border: 1px solid $color-gray-dark-secondary;
      border-radius: 5px;
    }
  }

  :global(.ant-picker-ranges .ant-picker-preset:first-child > .ant-tag-blue) {
    background: none;
    border: hidden;
    border: 1px solid $color-gray-dark-secondary;
    border-color: $color-gray-dark-secondary;
    border-radius: 5px;
    color: rgba(222, 222, 222, 1);
    cursor: pointer;
    font-size: $font-size-14;
    padding: 5px;
  }

  @media (max-width: 1203px) {
    opacity: 1 !important;
  }
  @media screen and (max-width: 991px) {
    left: 5.5em !important;
  }

  :global(.ant-picker-panel-container) {
    background-color: rgba(49, 51, 55, 1);
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
  }

  :global(.ant-picker-panels) {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
  }

  :global(.ant-picker-range-arrow) {
    display: none !important;
  }

  :global(.ant-picker-cell-inner) {
    color: $color-white-secondary !important;
    font-size: $font-size-14;
    min-height: 30px !important;
    min-width: 30px !important;
    padding-top: 2px !important;

    &::after {
      background: $color-purple-medium !important;
    }

    &:hover {
      background: $color-purple-medium !important;
    }
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
    border-radius: 2px !important;
  }

  :global(.ant-picker-cell::before) {
    background: transparent !important;
  }

  :global(.ant-picker-cell::after) {
    border-color: $color-purple-medium !important;
    border-radius: 2px !important;
    box-sizing: border-box !important;
  }

  :global(.ant-picker-cell-range-start > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;

    &:hover {
      background-color: #512283 !important;
    }
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-in-range::before) {
    background: $color-purple-medium !important;
    opacity: 0.2;

    &:hover {
      background: $color-purple-medium !important;
    }
  }

  :global(.ant-picker-cell-disabled::before) {
    background: none !important;
  }

  :global(.ant-picker-cell-range-start > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
  }

  :global(.ant-picker-cell-range-hover-end > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
  }

  :global(.ant-picker-header button) {
    color: $color-white !important;
    font-size: $font-size-16;
    font-weight: bold;
  }

  :global(.ant-picker-content th) {
    color: rgba(163, 164, 164, 1) !important;
    cursor: default;
    font-size: $font-size-12;
    font-weight: 600;
    text-transform: uppercase;
  }

  :global(.ant-picker-content tr:nth-child(6)) {
    display: none;
  }

  :global(.ant-picker-ranges) {
    padding-top: 15px;
  }

  :global(.ant-picker-panel) {
    border-bottom: 1px solid #57555c !important;
    width: 350px !important;
  }

  :global(.ant-picker-date-panel) {
    width: 350px !important;

    :global(.ant-picker-body) {
      width: 350px !important;

      :global(.ant-picker-content) {
        width: 100% !important;
      }
    }
  }

  :global(.ant-picker-header) {
    border-bottom: 1px solid #57555c !important;
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before) {
    background: $color-orange-primary;
    border: hidden !important;
    height: 4px;
    left: 25px;
    top: 5px;
    width: 4px;
  }
}

.customPickerThreeMonths {
  background: #313337 !important;
  border-radius: 5px;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.18);
  left: 32.7em !important;
  top: 5em !important;
  width: 744px !important;

  :global(.ant-picker-ranges .ant-picker-preset > .ant-tag-blue) {
    background: none;
    border: hidden;
    border-color: $color-gray-dark-secondary;
    color: rgba(222, 222, 222, 1);
    cursor: pointer;
    font-size: $font-size-14;
    padding: 5px;

    &:hover {
      border: 1px solid $color-gray-dark-secondary;
      border-radius: 5px;
    }
  }

  :global(.ant-picker-ranges .ant-picker-preset:nth-child(2) > .ant-tag-blue) {
    background: none;
    border: hidden;
    border: 1px solid $color-gray-dark-secondary;
    border-color: $color-gray-dark-secondary;
    border-radius: 5px;
    color: rgba(222, 222, 222, 1);
    cursor: pointer;
    font-size: $font-size-14;
    padding: 5px;
  }

  @media (max-width: 1203px) {
    opacity: 1 !important;
  }
  @media screen and (max-width: 991px) {
    left: 5.5em !important;
  }

  :global(.ant-picker-panel-container) {
    background-color: rgba(49, 51, 55, 1);
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
  }

  :global(.ant-picker-panels) {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
  }

  :global(.ant-picker-range-arrow) {
    display: none !important;
  }

  :global(.ant-picker-cell-inner) {
    color: $color-white-secondary !important;
    font-size: $font-size-14;
    min-height: 30px !important;
    min-width: 30px !important;
    padding-top: 2px !important;

    &::after {
      background: $color-purple-medium !important;
    }

    &:hover {
      background: $color-purple-medium !important;
    }
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
    border-radius: 2px !important;
  }

  :global(.ant-picker-cell::before) {
    background: transparent !important;
  }

  :global(.ant-picker-cell::after) {
    border-color: $color-purple-medium !important;
    border-radius: 2px !important;
    box-sizing: border-box !important;
  }

  :global(.ant-picker-cell-range-start > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;

    &:hover {
      background-color: #512283 !important;
    }
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-in-range::before) {
    background: $color-purple-medium !important;
    opacity: 0.2;

    &:hover {
      background: $color-purple-medium !important;
    }
  }

  :global(.ant-picker-cell-disabled::before) {
    background: none !important;
  }

  :global(.ant-picker-cell-range-start > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
  }

  :global(.ant-picker-cell-range-hover-end > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
  }

  :global(.ant-picker-header button) {
    color: $color-white !important;
    font-size: $font-size-16;
    font-weight: bold;
  }

  :global(.ant-picker-content th) {
    color: rgba(163, 164, 164, 1) !important;
    cursor: default;
    font-size: $font-size-12;
    font-weight: 600;
    text-transform: uppercase;
  }

  :global(.ant-picker-content tr:nth-child(6)) {
    display: none;
  }

  :global(.ant-picker-ranges) {
    padding-top: 15px;
  }

  :global(.ant-picker-panel) {
    border-bottom: 1px solid #57555c !important;
    width: 350px !important;
  }

  :global(.ant-picker-date-panel) {
    width: 350px !important;

    :global(.ant-picker-body) {
      width: 350px !important;

      :global(.ant-picker-content) {
        width: 100% !important;
      }
    }
  }

  :global(.ant-picker-header) {
    border-bottom: 1px solid #57555c !important;
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-today.ant-picker-cell-inner::before) {
    background: $color-orange-primary;
    border: hidden !important;
    height: 4px;
    left: 25px;
    top: 5px;
    width: 4px;
  }
}

.customPickerSixMonths {
  background: #313337 !important;
  border-radius: 5px;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.18);
  left: 32.7em !important;
  top: 5em !important;
  width: 744px !important;

  :global(.ant-picker-ranges .ant-picker-preset > .ant-tag-blue) {
    background: none;
    border: hidden;
    border-color: $color-gray-dark-secondary;
    color: rgba(222, 222, 222, 1);
    cursor: pointer;
    font-size: $font-size-14;
    padding: 5px;

    &:hover {
      border: 1px solid $color-gray-dark-secondary;
      border-radius: 5px;
    }
  }

  :global(.ant-picker-ranges .ant-picker-preset:nth-child(3) > .ant-tag-blue) {
    background: none;
    border: hidden;
    border: 1px solid $color-gray-dark-secondary;
    border-color: $color-gray-dark-secondary;
    border-radius: 5px;
    color: rgba(222, 222, 222, 1);
    cursor: pointer;
    font-size: $font-size-14;
    padding: 5px;
  }

  @media (max-width: 1203px) {
    opacity: 1 !important;
  }
  @media screen and (max-width: 991px) {
    left: 5.5em !important;
  }

  :global(.ant-picker-panel-container) {
    background-color: rgba(49, 51, 55, 1);
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
  }

  :global(.ant-picker-panels) {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
  }

  :global(.ant-picker-range-arrow) {
    display: none !important;
  }

  :global(.ant-picker-cell-inner) {
    color: $color-white-secondary !important;
    font-size: $font-size-14;
    min-height: 30px !important;
    min-width: 30px !important;
    padding-top: 2px !important;

    &::after {
      background: $color-purple-medium !important;
    }

    &:hover {
      background: $color-purple-medium !important;
    }
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
    border-radius: 2px !important;
  }

  :global(.ant-picker-cell::before) {
    background: transparent !important;
  }

  :global(.ant-picker-cell::after) {
    border-color: $color-purple-medium !important;
    border-radius: 2px !important;
    box-sizing: border-box !important;
  }

  :global(.ant-picker-cell-range-start > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;

    &:hover {
      background-color: #512283 !important;
    }
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-in-range::before) {
    background: $color-purple-medium !important;
    opacity: 0.2;

    &:hover {
      background: $color-purple-medium !important;
    }
  }

  :global(.ant-picker-cell-disabled::before) {
    background: none !important;
  }

  :global(.ant-picker-cell-range-start > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
  }

  :global(.ant-picker-cell-range-hover-end > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
  }

  :global(.ant-picker-header button) {
    color: $color-white !important;
    font-size: $font-size-16;
    font-weight: bold;
  }

  :global(.ant-picker-content th) {
    color: rgba(163, 164, 164, 1) !important;
    cursor: default;
    font-size: $font-size-12;
    font-weight: 600;
    text-transform: uppercase;
  }

  :global(.ant-picker-content tr:nth-child(6)) {
    display: none;
  }

  :global(.ant-picker-ranges) {
    padding-top: 15px;
  }

  :global(.ant-picker-panel) {
    border-bottom: 1px solid #57555c !important;
    width: 350px !important;
  }

  :global(.ant-picker-date-panel) {
    width: 350px !important;

    :global(.ant-picker-body) {
      width: 350px !important;

      :global(.ant-picker-content) {
        width: 100% !important;
      }
    }
  }

  :global(.ant-picker-header) {
    border-bottom: 1px solid #57555c !important;
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before) {
    background: $color-orange-primary;
    border: hidden !important;
    height: 4px;
    left: 25px;
    top: 5px;
    width: 4px;
  }
}

.customPickerOneYear {
  background: #313337 !important;
  border-radius: 5px;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.18);
  left: 32.7em !important;
  top: 5em !important;
  width: 744px !important;

  :global(.ant-picker-ranges .ant-picker-preset > .ant-tag-blue) {
    background: none;
    border: hidden;
    border-color: $color-gray-dark-secondary;
    color: rgba(222, 222, 222, 1);
    cursor: pointer;
    font-size: $font-size-14;
    padding: 5px;

    &:hover {
      border: 1px solid $color-gray-dark-secondary;
      border-radius: 5px;
    }
  }

  :global(.ant-picker-ranges .ant-picker-preset:nth-child(4) > .ant-tag-blue) {
    background: none;
    border: hidden;
    border: 1px solid $color-gray-dark-secondary;
    border-color: $color-gray-dark-secondary;
    border-radius: 5px;
    color: rgba(222, 222, 222, 1);
    cursor: pointer;
    font-size: $font-size-14;
    padding: 5px;
  }

  @media (max-width: 1203px) {
    opacity: 1 !important;
  }
  @media screen and (max-width: 991px) {
    left: 5.5em !important;
  }

  :global(.ant-picker-panel-container) {
    background-color: rgba(49, 51, 55, 1);
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
  }

  :global(.ant-picker-panels) {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
  }

  :global(.ant-picker-range-arrow) {
    display: none !important;
  }

  :global(.ant-picker-cell-inner) {
    color: $color-white-secondary !important;
    font-size: $font-size-14;
    min-height: 30px !important;
    min-width: 30px !important;
    padding-top: 2px !important;

    &::after {
      background: $color-purple-medium !important;
    }

    &:hover {
      background: $color-purple-medium !important;
    }
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
    border-radius: 2px !important;
  }

  :global(.ant-picker-cell::before) {
    background: transparent !important;
  }

  :global(.ant-picker-cell::after) {
    border-color: $color-purple-medium !important;
    border-radius: 2px !important;
    box-sizing: border-box !important;
  }

  :global(.ant-picker-cell-range-start > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;

    &:hover {
      background-color: #512283 !important;
    }
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-in-range::before) {
    background: $color-purple-medium !important;
    opacity: 0.2;

    &:hover {
      background: $color-purple-medium !important;
    }
  }

  :global(.ant-picker-cell-disabled::before) {
    background: none !important;
  }

  :global(.ant-picker-cell-range-start > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
  }

  :global(.ant-picker-cell-range-hover-end > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
  }

  :global(.ant-picker-header button) {
    color: $color-white !important;
    font-size: $font-size-16;
    font-weight: bold;
  }

  :global(.ant-picker-content th) {
    color: rgba(163, 164, 164, 1) !important;
    cursor: default;
    font-size: $font-size-12;
    font-weight: 600;
    text-transform: uppercase;
  }

  :global(.ant-picker-content tr:nth-child(6)) {
    display: none;
  }

  :global(.ant-picker-ranges) {
    padding-top: 15px;
  }

  :global(.ant-picker-panel) {
    border-bottom: 1px solid #57555c !important;
    width: 350px !important;
  }

  :global(.ant-picker-date-panel) {
    width: 350px !important;

    :global(.ant-picker-body) {
      width: 350px !important;

      :global(.ant-picker-content) {
        width: 100% !important;
      }
    }
  }

  :global(.ant-picker-header) {
    border-bottom: 1px solid #57555c !important;
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before) {
    background: $color-orange-primary;
    border: hidden !important;
    height: 4px;
    left: 25px;
    top: 5px;
    width: 4px;
  }
}

.customPickerTwoYears {
  background: #313337 !important;
  border-radius: 5px;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.18);
  left: 32.7em !important;
  top: 5em !important;
  width: 744px !important;

  :global(.ant-picker-ranges .ant-picker-preset > .ant-tag-blue) {
    background: none;
    border: hidden;
    border-color: $color-gray-dark-secondary;
    color: rgba(222, 222, 222, 1);
    cursor: pointer;
    font-size: $font-size-14;
    padding: 5px;

    &:hover {
      border: 1px solid $color-gray-dark-secondary;
      border-radius: 5px;
    }
  }

  :global(.ant-picker-ranges .ant-picker-preset:last-child > .ant-tag-blue) {
    background: none;
    border: hidden;
    border: 1px solid $color-gray-dark-secondary;
    border-color: $color-gray-dark-secondary;
    border-radius: 5px;
    color: rgba(222, 222, 222, 1);
    cursor: pointer;
    font-size: $font-size-14;
    padding: 5px;
  }

  @media (max-width: 1203px) {
    opacity: 1 !important;
  }
  @media screen and (max-width: 991px) {
    left: 5.5em !important;
  }

  :global(.ant-picker-panel-container) {
    background-color: rgba(49, 51, 55, 1);
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
  }

  :global(.ant-picker-panels) {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
  }

  :global(.ant-picker-range-arrow) {
    display: none !important;
  }

  :global(.ant-picker-cell-inner) {
    color: $color-white-secondary !important;
    font-size: $font-size-14;
    min-height: 30px !important;
    min-width: 30px !important;
    padding-top: 2px !important;

    &::after {
      background: $color-purple-medium !important;
    }

    &:hover {
      background: $color-purple-medium !important;
    }
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
    border-radius: 2px !important;
  }

  :global(.ant-picker-cell::before) {
    background: transparent !important;
  }

  :global(.ant-picker-cell::after) {
    border-color: $color-purple-medium !important;
    border-radius: 2px !important;
    box-sizing: border-box !important;
  }

  :global(.ant-picker-cell-range-start > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;

    &:hover {
      background-color: #512283 !important;
    }
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-in-range::before) {
    background: $color-purple-medium !important;
    opacity: 0.2;

    &:hover {
      background: $color-purple-medium !important;
    }
  }

  :global(.ant-picker-cell-disabled::before) {
    background: none !important;
  }

  :global(.ant-picker-cell-range-start > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
  }

  :global(.ant-picker-cell-range-hover-end > .ant-picker-cell-inner) {
    background: $color-purple-medium !important;
  }

  :global(.ant-picker-header button) {
    color: $color-white !important;
    font-size: $font-size-16;
    font-weight: bold;
  }

  :global(.ant-picker-content th) {
    color: rgba(163, 164, 164, 1) !important;
    cursor: default;
    font-size: $font-size-12;
    font-weight: 600;
    text-transform: uppercase;
  }

  :global(.ant-picker-content tr:nth-child(6)) {
    display: none;
  }

  :global(.ant-picker-ranges) {
    padding-top: 15px;
  }

  :global(.ant-picker-panel) {
    border-bottom: 1px solid #57555c !important;
    width: 350px !important;
  }

  :global(.ant-picker-date-panel) {
    width: 350px !important;

    :global(.ant-picker-body) {
      width: 350px !important;

      :global(.ant-picker-content) {
        width: 100% !important;
      }
    }
  }

  :global(.ant-picker-header) {
    border-bottom: 1px solid #57555c !important;
  }

  :global(.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before) {
    background: $color-orange-primary;
    border: hidden !important;
    height: 4px;
    left: 25px;
    top: 5px;
    width: 4px;
  }
}

.pickerHeading {
  border-radius: 4px 0 0 4px;
  border-right: 0;
  color: #a3a4a4;
  cursor: pointer;
  margin-right: 3px;
  padding: 9.5px;
  padding-left: 0;
  padding-right: 1px;
}


.ranger {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-width: 335px;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  @media (max-width: 1207px) {
    min-width: 135px;
  }

  &::before {
    background-color: $color-gray-dark-secondary;
    content: '';
    display: inline-block;
    height: 28px;
    left: 0;
    position: absolute;
    width: 1px;
  }

  &::after {
    background-color: $color-gray-dark-secondary;
    content: '';
    display: inline-block;
    height: 28px;
    position: absolute;
    right: 0;
    width: 1px;
  }

  &Button {
    align-items: center;
    border: 1px solid transparent !important;
    display: flex;
    height: 38px !important;
    /* background:transparent !important; */
    padding: 8px 10px;
    width: 320px;
    z-index: 1 !important;
    @media (max-width: 1207px) {
      margin: 0 5px;
      width: 130px !important;
    }

    :global(.ant-picker:hover) {
      border-color: 0 !important;
      border-right-width: 0 !important;
    }

    &:focus,
    &:hover {
      background: rgba(84, 86, 90, 0.1) !important;
      border: 1px solid $color-gray-dark-secondary !important;
      border-radius: 5px !important;
      padding-right: 30px;
    }

    &Open {
      background: rgba(84, 86, 90, 0.1);
      border: 1px solid $color-gray-dark-secondary !important;
      border-radius: 5px;
    }
  }
}


.header__left {
  display: flex;
  margin-left: 18px;
  width: 100%;
  @media (max-width: 1400px) {
    margin-left: -7px;
  }
  @media (max-width: 990px) {
    margin-left: 50px;
  }
  @media (max-width: 600px) {
    margin-left: -7px;
  }
}



.rangerCaret {
  span {
    color: #fff;

    svg {
      cursor: pointer;
      width: 10px;
      @media (max-width: 1207px) {
        margin-left: -364px !important;
      }
    }
  }
}



.upgradeTooltip {
  z-index: 5 !important;

  :global(.ant-tooltip-inner) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), $color-gray-dark-medium;
    border-radius: 8px;
    font-size: $font-size-14;
    line-height: 20px;
    padding: 20px 15px;
  }

  .upgradeButton {
    background: rgba(82, 213, 119, 0.1);
    border: 1px solid #52d577;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    font-size: $font-size-14;
    height: 30px;
    line-height: 22px;
    padding-top: 3px;
    text-align: center;
    width: 131px;
  }
}

