@import '@/style/colors';
@import 'src/style/fonts';
@import 'src/components/common-components/scss/mixins.scroll';

.selectionTooltip {
    background-color: $color-white;
    border-radius: 5px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
    color: $color-gray-dark-secondary;
    padding: 10px 0;
    position: absolute;
    text-align: left;
    width: 300px;
    z-index: 999;
  
    &::after {
      border-bottom: 10px solid #fff;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      content: '';
      height: 0;
      position: absolute;
      right: 140px;
      top: -10px;
      width: 0;
    }
  
    &.arrowBottom {
      &::after {
        border-bottom: 0 !important;
        border-left: 10px solid transparent !important;
        border-right: 10px solid transparent !important;
        border-top: 10px solid #fff !important;
        bottom: -10px !important;
        top: auto !important;
      }
    }
  }

  .selectedTextInfoContainer {
    display: flex;
    height: 38px;
    justify-content: space-between;
    padding: 0 14px 10px;
  
    .dataAndIcon {
      display: flex;
    }
  
    .textAndUrl {
      cursor: default;
  
      .text {
        color: $color-blue;
        margin: 0;
        max-width: 170px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
  
      .url {
        display: inline-block;
        font-size: $font-size-12;
        margin-bottom: 0;
        max-width: 170px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  
    .textUrlControlls {
      img,
      svg {
        cursor: pointer;
      }
    }
  }

  .urlPopup {
    background: #fff;
    border-radius: 5px;
    // box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    padding: 10px 10px 20px;
    width: 300px;
    // z-index: 2;
  
    .inputContainer {
      .textLabel {
        color: #4e5156 !important;
        font-size: $font-size-12;
        margin: 0 0 5px 8px !important;
        text-align: left;
      }
  
      .urlInput {
        background: #f9f9fb;
        border: 1px solid $color-light-gray-third;
        border-radius: 5px;
        height: 32px;
        margin-bottom: 8px;
        width: 200px !important;
    
        &:focus-visible {
          outline: none !important;
        }
      }
    }
  }
  
  .inputControlls {
    border: 0 !important;
    height: 32px !important;
    margin-top: auto;
    width: 69px;
  
    span {
      display: block;
      margin-left: -3px;
      margin-top: -5px;
    }
  }