@import '@/style/colors';

.header-toolkit {
  // margin-right: 5px;
  position: relative;
  width: 150px;

  :global(.ant-select-selector) {
    border: 0 !important;
  }

  :global(.ant-select-selector):hover {
    background: $color-body-background;
    border-radius: 4px;
  }

  :global(.ant-select) {
    color: $color-gray-dark-secondary;
  }

  :global(.ant-select-arrow) {
    color: $color-gray-dark-secondary;
    top: 48%;
  }
}

.header-modal {
  background: #282828;
  border-radius: 5px;
  display: flex;
  filter: drop-shadow(0 5px 13px rgba(0, 14, 88, 0.2));
  position: absolute;
  top: -43px;
  z-index: 5;

  &__option {
    color: $color-white;
    cursor: pointer;
    font-weight: 600;
    padding: 7px;

    &:hover {
      background: $color-secondary-text;
      border-radius: 5px;
      transition: background-color 0.5s;
    }

    &:last-child {

      padding-right: 10px;

      &:hover {
        border-radius: 0 5px 5px 0;
      }
    }

    &:first-child {

      padding-left: 10px;

      &:hover {
        border-radius: 5px 0 0 5px;
      }
    }
  }

  &__selected {
    background: $color-secondary-text;

    &:last-child {
      border-radius: 0 5px 5px 0;
      padding-right: 10px;
    }

    &:first-child {
      border-radius: 5px 0 0 5px;
      padding-left: 10px;
    }
  }

  &::after {
    border-color: transparent #282828 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: medium;
    bottom: -6px;
    content: ' ';
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 88%;
    transform: rotate(-90deg);
    width: 0;
  }
}
