.flexboxgrid2__container___3skQK {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px;
  padding-left: 8px;
}

.flexboxgrid2__container-fluid___XKLhm {
  padding-right: 16px;
  padding-left: 16px;
}

@media only screen and (min-width: 576px) {
  .flexboxgrid2__container___3skQK {
    width: 560px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .flexboxgrid2__container___3skQK {
    width: 752px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .flexboxgrid2__container___3skQK {
    width: 976px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .flexboxgrid2__container___3skQK {
    width: 1184px;
    max-width: 100%;
  }
}

.flexboxgrid2__row___ZtOZv {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}

.flexboxgrid2__row___ZtOZv.flexboxgrid2__reverse___3oCGT {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flexboxgrid2__col___2Z6TW.flexboxgrid2__reverse___3oCGT {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.flexboxgrid2__col-xs___2PLFU,
.flexboxgrid2__col-xs-1___1ys2K,
.flexboxgrid2__col-xs-2___1oFs0,
.flexboxgrid2__col-xs-3___1Q5cW,
.flexboxgrid2__col-xs-4___3pHqi,
.flexboxgrid2__col-xs-5___3JeAf,
.flexboxgrid2__col-xs-6___1Zplx,
.flexboxgrid2__col-xs-7___2rjoo,
.flexboxgrid2__col-xs-8___3Pbgu,
.flexboxgrid2__col-xs-9___zDP7a,
.flexboxgrid2__col-xs-10___Zo7_E,
.flexboxgrid2__col-xs-11___mXqV2,
.flexboxgrid2__col-xs-12___AdoKE,
.flexboxgrid2__col-xs-offset-0___3NAsN,
.flexboxgrid2__col-xs-offset-1___3K_gC,
.flexboxgrid2__col-xs-offset-2___2Ga73,
.flexboxgrid2__col-xs-offset-3___3c_Ft,
.flexboxgrid2__col-xs-offset-4___3TWUy,
.flexboxgrid2__col-xs-offset-5___1yWoT,
.flexboxgrid2__col-xs-offset-6___al_7H,
.flexboxgrid2__col-xs-offset-7___2J_G7,
.flexboxgrid2__col-xs-offset-8___1RGyW,
.flexboxgrid2__col-xs-offset-9___3OtIT,
.flexboxgrid2__col-xs-offset-10___109SK,
.flexboxgrid2__col-xs-offset-11___1fcLq,
.flexboxgrid2__col-xs-offset-12___3UGEQ,
.flexboxgrid2__col-sm___3UNLq,
.flexboxgrid2__col-sm-1___2u7Tq,
.flexboxgrid2__col-sm-2___39LGZ,
.flexboxgrid2__col-sm-3___1HPMt,
.flexboxgrid2__col-sm-4___3SO93,
.flexboxgrid2__col-sm-5___2Buhm,
.flexboxgrid2__col-sm-6___1l2Kt,
.flexboxgrid2__col-sm-7___d6sUa,
.flexboxgrid2__col-sm-8___g6l7V,
.flexboxgrid2__col-sm-9___etIBb,
.flexboxgrid2__col-sm-10___Bxvht,
.flexboxgrid2__col-sm-11___PiXUP,
.flexboxgrid2__col-sm-12___2sYMg,
.flexboxgrid2__col-sm-offset-0___oljZ3,
.flexboxgrid2__col-sm-offset-1___1ywTD,
.flexboxgrid2__col-sm-offset-2___1X0hd,
.flexboxgrid2__col-sm-offset-3___2QOr2,
.flexboxgrid2__col-sm-offset-4___3inAM,
.flexboxgrid2__col-sm-offset-5___2Ihhn,
.flexboxgrid2__col-sm-offset-6___21xzL,
.flexboxgrid2__col-sm-offset-7___1ypYV,
.flexboxgrid2__col-sm-offset-8___ymjV3,
.flexboxgrid2__col-sm-offset-9___1SxN0,
.flexboxgrid2__col-sm-offset-10___2qwiO,
.flexboxgrid2__col-sm-offset-11___3zRYq,
.flexboxgrid2__col-sm-offset-12___2fnwd,
.flexboxgrid2__col-md___srMeB,
.flexboxgrid2__col-md-1___3RdWY,
.flexboxgrid2__col-md-2___3j8qs,
.flexboxgrid2__col-md-3___2Th4S,
.flexboxgrid2__col-md-4___3pbbS,
.flexboxgrid2__col-md-5___1Svz9,
.flexboxgrid2__col-md-6___1wIAi,
.flexboxgrid2__col-md-7___3z1EO,
.flexboxgrid2__col-md-8___2Dm-W,
.flexboxgrid2__col-md-9___1nXvw,
.flexboxgrid2__col-md-10___3Br2r,
.flexboxgrid2__col-md-11___3gKDL,
.flexboxgrid2__col-md-12___2t4Kh,
.flexboxgrid2__col-md-offset-0___1twEm,
.flexboxgrid2__col-md-offset-1___12ZU0,
.flexboxgrid2__col-md-offset-2___1dGCS,
.flexboxgrid2__col-md-offset-3___XMXnG,
.flexboxgrid2__col-md-offset-4___3TnIN,
.flexboxgrid2__col-md-offset-5___EGfBj,
.flexboxgrid2__col-md-offset-6___3Kb3E,
.flexboxgrid2__col-md-offset-7___21XFw,
.flexboxgrid2__col-md-offset-8___qnljU,
.flexboxgrid2__col-md-offset-9___kdDX2,
.flexboxgrid2__col-md-offset-10___284iF,
.flexboxgrid2__col-md-offset-11___WXAgk,
.flexboxgrid2__col-md-offset-12___2XYlU,
.flexboxgrid2__col-lg___3u7lk,
.flexboxgrid2__col-lg-1___2y0lP,
.flexboxgrid2__col-lg-2___1x6vt,
.flexboxgrid2__col-lg-3___37wpY,
.flexboxgrid2__col-lg-4___RwCNM,
.flexboxgrid2__col-lg-5___37365,
.flexboxgrid2__col-lg-6___NeTjn,
.flexboxgrid2__col-lg-7___3bixv,
.flexboxgrid2__col-lg-8___2YhQ1,
.flexboxgrid2__col-lg-9___2e0uZ,
.flexboxgrid2__col-lg-10___3X-8g,
.flexboxgrid2__col-lg-11___1Ymgu,
.flexboxgrid2__col-lg-12___p4dm-,
.flexboxgrid2__col-lg-offset-0___YMDi3,
.flexboxgrid2__col-lg-offset-1___2mUfM,
.flexboxgrid2__col-lg-offset-2___2PSlK,
.flexboxgrid2__col-lg-offset-3___2ZEsJ,
.flexboxgrid2__col-lg-offset-4___oUBjv,
.flexboxgrid2__col-lg-offset-5___2_pNE,
.flexboxgrid2__col-lg-offset-6___1bZES,
.flexboxgrid2__col-lg-offset-7___26quH,
.flexboxgrid2__col-lg-offset-8___3kkd3,
.flexboxgrid2__col-lg-offset-9___22Nlu,
.flexboxgrid2__col-lg-offset-10___32R4D,
.flexboxgrid2__col-lg-offset-11___3mcm9,
.flexboxgrid2__col-lg-offset-12___1CzWw,
.flexboxgrid2__col-xl___3OIWS,
.flexboxgrid2__col-xl-1___1x-yZ,
.flexboxgrid2__col-xl-2___oe1yn,
.flexboxgrid2__col-xl-3___1DZkD,
.flexboxgrid2__col-xl-4___e7X-g,
.flexboxgrid2__col-xl-5___1K3om,
.flexboxgrid2__col-xl-6___pj3oz,
.flexboxgrid2__col-xl-7___2lbXv,
.flexboxgrid2__col-xl-8___2T9rc,
.flexboxgrid2__col-xl-9___4Cdy9,
.flexboxgrid2__col-xl-10___pgLUE,
.flexboxgrid2__col-xl-11___fOAzP,
.flexboxgrid2__col-xl-12___1lxVN,
.flexboxgrid2__col-xl-offset-0___rTVg4,
.flexboxgrid2__col-xl-offset-1___1KRTF,
.flexboxgrid2__col-xl-offset-2___3XTdA,
.flexboxgrid2__col-xl-offset-3___1u7VM,
.flexboxgrid2__col-xl-offset-4___1U3cj,
.flexboxgrid2__col-xl-offset-5___1m-Bk,
.flexboxgrid2__col-xl-offset-6___zqsMR,
.flexboxgrid2__col-xl-offset-7___8fHBq,
.flexboxgrid2__col-xl-offset-8___1LruZ,
.flexboxgrid2__col-xl-offset-9___3oTGD,
.flexboxgrid2__col-xl-offset-10___2eReq,
.flexboxgrid2__col-xl-offset-11___kuo4A,
.flexboxgrid2__col-xl-offset-12___1WvjR {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding-right: 8px;
  padding-left: 8px;
  max-width: 100%;
}

.flexboxgrid2__col-xs___2PLFU {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.flexboxgrid2__col-xs-1___1ys2K {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.flexboxgrid2__col-xs-2___1oFs0 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.flexboxgrid2__col-xs-3___1Q5cW {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.flexboxgrid2__col-xs-4___3pHqi {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.flexboxgrid2__col-xs-5___3JeAf {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.flexboxgrid2__col-xs-6___1Zplx {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.flexboxgrid2__col-xs-7___2rjoo {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.flexboxgrid2__col-xs-8___3Pbgu {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.flexboxgrid2__col-xs-9___zDP7a {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.flexboxgrid2__col-xs-10___Zo7_E {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.flexboxgrid2__col-xs-11___mXqV2 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.flexboxgrid2__col-xs-12___AdoKE {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.flexboxgrid2__col-xs-offset-0___3NAsN {
  margin-left: 0;
}

.flexboxgrid2__col-xs-offset-1___3K_gC {
  margin-left: 8.33333333%;
}

.flexboxgrid2__col-xs-offset-2___2Ga73 {
  margin-left: 16.66666667%;
}

.flexboxgrid2__col-xs-offset-3___3c_Ft {
  margin-left: 25%;
}

.flexboxgrid2__col-xs-offset-4___3TWUy {
  margin-left: 33.33333333%;
}

.flexboxgrid2__col-xs-offset-5___1yWoT {
  margin-left: 41.66666667%;
}

.flexboxgrid2__col-xs-offset-6___al_7H {
  margin-left: 50%;
}

.flexboxgrid2__col-xs-offset-7___2J_G7 {
  margin-left: 58.33333333%;
}

.flexboxgrid2__col-xs-offset-8___1RGyW {
  margin-left: 66.66666667%;
}

.flexboxgrid2__col-xs-offset-9___3OtIT {
  margin-left: 75%;
}

.flexboxgrid2__col-xs-offset-10___109SK {
  margin-left: 83.33333333%;
}

.flexboxgrid2__col-xs-offset-11___1fcLq {
  margin-left: 91.66666667%;
}

.flexboxgrid2__start-xs___2gtAf {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.flexboxgrid2__center-xs___2GJwn {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flexboxgrid2__end-xs___1Jy9a {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.flexboxgrid2__top-xs___3ApF9 {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flexboxgrid2__middle-xs___2qJAd {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flexboxgrid2__bottom-xs___2sMuK {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.flexboxgrid2__around-xs___1h6nu {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flexboxgrid2__between-xs___1Bml9 {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexboxgrid2__first-xs___2ydrY {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.flexboxgrid2__last-xs___1TmDf {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.flexboxgrid2__initial-order-xs___1lJw5 {
  -webkit-box-ordinal-group: NaN;
  -ms-flex-order: initial;
  order: initial;
}

@media only screen and (min-width: 576px) {
  .flexboxgrid2__col-sm___3UNLq {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .flexboxgrid2__col-sm-1___2u7Tq {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .flexboxgrid2__col-sm-2___39LGZ {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .flexboxgrid2__col-sm-3___1HPMt {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .flexboxgrid2__col-sm-4___3SO93 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .flexboxgrid2__col-sm-5___2Buhm {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .flexboxgrid2__col-sm-6___1l2Kt {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .flexboxgrid2__col-sm-7___d6sUa {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .flexboxgrid2__col-sm-8___g6l7V {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .flexboxgrid2__col-sm-9___etIBb {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .flexboxgrid2__col-sm-10___Bxvht {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .flexboxgrid2__col-sm-11___PiXUP {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .flexboxgrid2__col-sm-12___2sYMg {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .flexboxgrid2__col-sm-offset-0___oljZ3 {
    margin-left: 0;
  }

  .flexboxgrid2__col-sm-offset-1___1ywTD {
    margin-left: 8.33333333%;
  }

  .flexboxgrid2__col-sm-offset-2___1X0hd {
    margin-left: 16.66666667%;
  }

  .flexboxgrid2__col-sm-offset-3___2QOr2 {
    margin-left: 25%;
  }

  .flexboxgrid2__col-sm-offset-4___3inAM {
    margin-left: 33.33333333%;
  }

  .flexboxgrid2__col-sm-offset-5___2Ihhn {
    margin-left: 41.66666667%;
  }

  .flexboxgrid2__col-sm-offset-6___21xzL {
    margin-left: 50%;
  }

  .flexboxgrid2__col-sm-offset-7___1ypYV {
    margin-left: 58.33333333%;
  }

  .flexboxgrid2__col-sm-offset-8___ymjV3 {
    margin-left: 66.66666667%;
  }

  .flexboxgrid2__col-sm-offset-9___1SxN0 {
    margin-left: 75%;
  }

  .flexboxgrid2__col-sm-offset-10___2qwiO {
    margin-left: 83.33333333%;
  }

  .flexboxgrid2__col-sm-offset-11___3zRYq {
    margin-left: 91.66666667%;
  }

  .flexboxgrid2__start-sm___3I0F0 {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .flexboxgrid2__center-sm___2tfwT {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .flexboxgrid2__end-sm___1Dqio {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .flexboxgrid2__top-sm___NTmPJ {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .flexboxgrid2__middle-sm___QLrL0 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .flexboxgrid2__bottom-sm___3iRAD {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .flexboxgrid2__around-sm___2DXbH {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .flexboxgrid2__between-sm___1GD_q {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flexboxgrid2__first-sm___AlKeI {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .flexboxgrid2__last-sm___1GaXQ {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .flexboxgrid2__initial-order-sm___3Ar7f {
    -webkit-box-ordinal-group: NaN;
    -ms-flex-order: initial;
    order: initial;
  }
}

@media only screen and (min-width: 768px) {
  .flexboxgrid2__col-md___srMeB,
  .flexboxgrid2__col-md-1___3RdWY,
  .flexboxgrid2__col-md-2___3j8qs,
  .flexboxgrid2__col-md-3___2Th4S,
  .flexboxgrid2__col-md-4___3pbbS,
  .flexboxgrid2__col-md-5___1Svz9,
  .flexboxgrid2__col-md-6___1wIAi,
  .flexboxgrid2__col-md-7___3z1EO,
  .flexboxgrid2__col-md-8___2Dm-W,
  .flexboxgrid2__col-md-9___1nXvw,
  .flexboxgrid2__col-md-10___3Br2r,
  .flexboxgrid2__col-md-11___3gKDL,
  .flexboxgrid2__col-md-12___2t4Kh,
  .flexboxgrid2__col-md-offset-0___1twEm,
  .flexboxgrid2__col-md-offset-1___12ZU0,
  .flexboxgrid2__col-md-offset-2___1dGCS,
  .flexboxgrid2__col-md-offset-3___XMXnG,
  .flexboxgrid2__col-md-offset-4___3TnIN,
  .flexboxgrid2__col-md-offset-5___EGfBj,
  .flexboxgrid2__col-md-offset-6___3Kb3E,
  .flexboxgrid2__col-md-offset-7___21XFw,
  .flexboxgrid2__col-md-offset-8___qnljU,
  .flexboxgrid2__col-md-offset-9___kdDX2,
  .flexboxgrid2__col-md-offset-10___284iF,
  .flexboxgrid2__col-md-offset-11___WXAgk,
  .flexboxgrid2__col-md-offset-12___2XYlU {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 8px;
    padding-left: 8px;
  }

  .flexboxgrid2__col-md___srMeB {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .flexboxgrid2__col-md-1___3RdWY {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .flexboxgrid2__col-md-2___3j8qs {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .flexboxgrid2__col-md-3___2Th4S {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .flexboxgrid2__col-md-4___3pbbS {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .flexboxgrid2__col-md-5___1Svz9 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .flexboxgrid2__col-md-6___1wIAi {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .flexboxgrid2__col-md-7___3z1EO {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .flexboxgrid2__col-md-8___2Dm-W {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .flexboxgrid2__col-md-9___1nXvw {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .flexboxgrid2__col-md-10___3Br2r {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .flexboxgrid2__col-md-11___3gKDL {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .flexboxgrid2__col-md-12___2t4Kh {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .flexboxgrid2__col-md-offset-0___1twEm {
    margin-left: 0;
  }

  .flexboxgrid2__col-md-offset-1___12ZU0 {
    margin-left: 8.33333333%;
  }

  .flexboxgrid2__col-md-offset-2___1dGCS {
    margin-left: 16.66666667%;
  }

  .flexboxgrid2__col-md-offset-3___XMXnG {
    margin-left: 25%;
  }

  .flexboxgrid2__col-md-offset-4___3TnIN {
    margin-left: 33.33333333%;
  }

  .flexboxgrid2__col-md-offset-5___EGfBj {
    margin-left: 41.66666667%;
  }

  .flexboxgrid2__col-md-offset-6___3Kb3E {
    margin-left: 50%;
  }

  .flexboxgrid2__col-md-offset-7___21XFw {
    margin-left: 58.33333333%;
  }

  .flexboxgrid2__col-md-offset-8___qnljU {
    margin-left: 66.66666667%;
  }

  .flexboxgrid2__col-md-offset-9___kdDX2 {
    margin-left: 75%;
  }

  .flexboxgrid2__col-md-offset-10___284iF {
    margin-left: 83.33333333%;
  }

  .flexboxgrid2__col-md-offset-11___WXAgk {
    margin-left: 91.66666667%;
  }

  .flexboxgrid2__start-md___3M-iK {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .flexboxgrid2__center-md___3Ql1d {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .flexboxgrid2__end-md___STrsQ {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .flexboxgrid2__top-md___2FX25 {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .flexboxgrid2__middle-md___YZ6CJ {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .flexboxgrid2__bottom-md___2Ruw8 {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .flexboxgrid2__around-md___1G_h0 {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .flexboxgrid2__between-md___1ik_I {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flexboxgrid2__first-md___yFUKj {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .flexboxgrid2__last-md___1PHhp {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .flexboxgrid2__initial-order-md___3UvRN {
    -webkit-box-ordinal-group: NaN;
    -ms-flex-order: initial;
    order: initial;
  }
}

@media only screen and (min-width: 992px) {
  .flexboxgrid2__col-lg___3u7lk,
  .flexboxgrid2__col-lg-1___2y0lP,
  .flexboxgrid2__col-lg-2___1x6vt,
  .flexboxgrid2__col-lg-3___37wpY,
  .flexboxgrid2__col-lg-4___RwCNM,
  .flexboxgrid2__col-lg-5___37365,
  .flexboxgrid2__col-lg-6___NeTjn,
  .flexboxgrid2__col-lg-7___3bixv,
  .flexboxgrid2__col-lg-8___2YhQ1,
  .flexboxgrid2__col-lg-9___2e0uZ,
  .flexboxgrid2__col-lg-10___3X-8g,
  .flexboxgrid2__col-lg-11___1Ymgu,
  .flexboxgrid2__col-lg-12___p4dm-,
  .flexboxgrid2__col-lg-offset-0___YMDi3,
  .flexboxgrid2__col-lg-offset-1___2mUfM,
  .flexboxgrid2__col-lg-offset-2___2PSlK,
  .flexboxgrid2__col-lg-offset-3___2ZEsJ,
  .flexboxgrid2__col-lg-offset-4___oUBjv,
  .flexboxgrid2__col-lg-offset-5___2_pNE,
  .flexboxgrid2__col-lg-offset-6___1bZES,
  .flexboxgrid2__col-lg-offset-7___26quH,
  .flexboxgrid2__col-lg-offset-8___3kkd3,
  .flexboxgrid2__col-lg-offset-9___22Nlu,
  .flexboxgrid2__col-lg-offset-10___32R4D,
  .flexboxgrid2__col-lg-offset-11___3mcm9,
  .flexboxgrid2__col-lg-offset-12___1CzWw {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 8px;
    padding-left: 8px;
  }

  .flexboxgrid2__col-lg___3u7lk {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .flexboxgrid2__col-lg-1___2y0lP {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .flexboxgrid2__col-lg-2___1x6vt {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .flexboxgrid2__col-lg-3___37wpY {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .flexboxgrid2__col-lg-4___RwCNM {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .flexboxgrid2__col-lg-5___37365 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .flexboxgrid2__col-lg-6___NeTjn {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .flexboxgrid2__col-lg-7___3bixv {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .flexboxgrid2__col-lg-8___2YhQ1 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .flexboxgrid2__col-lg-9___2e0uZ {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .flexboxgrid2__col-lg-10___3X-8g {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .flexboxgrid2__col-lg-11___1Ymgu {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .flexboxgrid2__col-lg-12___p4dm- {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .flexboxgrid2__col-lg-offset-0___YMDi3 {
    margin-left: 0;
  }

  .flexboxgrid2__col-lg-offset-1___2mUfM {
    margin-left: 8.33333333%;
  }

  .flexboxgrid2__col-lg-offset-2___2PSlK {
    margin-left: 16.66666667%;
  }

  .flexboxgrid2__col-lg-offset-3___2ZEsJ {
    margin-left: 25%;
  }

  .flexboxgrid2__col-lg-offset-4___oUBjv {
    margin-left: 33.33333333%;
  }

  .flexboxgrid2__col-lg-offset-5___2_pNE {
    margin-left: 41.66666667%;
  }

  .flexboxgrid2__col-lg-offset-6___1bZES {
    margin-left: 50%;
  }

  .flexboxgrid2__col-lg-offset-7___26quH {
    margin-left: 58.33333333%;
  }

  .flexboxgrid2__col-lg-offset-8___3kkd3 {
    margin-left: 66.66666667%;
  }

  .flexboxgrid2__col-lg-offset-9___22Nlu {
    margin-left: 75%;
  }

  .flexboxgrid2__col-lg-offset-10___32R4D {
    margin-left: 83.33333333%;
  }

  .flexboxgrid2__col-lg-offset-11___3mcm9 {
    margin-left: 91.66666667%;
  }

  .flexboxgrid2__start-lg___m0vFF {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .flexboxgrid2__center-lg___1ppmu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .flexboxgrid2__end-lg___1Cene {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .flexboxgrid2__top-lg___3R_GA {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .flexboxgrid2__middle-lg___2vRr_ {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .flexboxgrid2__bottom-lg___1FxHX {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .flexboxgrid2__around-lg___24PfH {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .flexboxgrid2__between-lg___2a-N0 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flexboxgrid2__first-lg___351pp {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .flexboxgrid2__last-lg___2GWNG {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .flexboxgrid2__initial-order-lg___3ajeo {
    -webkit-box-ordinal-group: NaN;
    -ms-flex-order: initial;
    order: initial;
  }
}

@media only screen and (min-width: 1200px) {
  .flexboxgrid2__col-xl___3OIWS,
  .flexboxgrid2__col-xl-1___1x-yZ,
  .flexboxgrid2__col-xl-2___oe1yn,
  .flexboxgrid2__col-xl-3___1DZkD,
  .flexboxgrid2__col-xl-4___e7X-g,
  .flexboxgrid2__col-xl-5___1K3om,
  .flexboxgrid2__col-xl-6___pj3oz,
  .flexboxgrid2__col-xl-7___2lbXv,
  .flexboxgrid2__col-xl-8___2T9rc,
  .flexboxgrid2__col-xl-9___4Cdy9,
  .flexboxgrid2__col-xl-10___pgLUE,
  .flexboxgrid2__col-xl-11___fOAzP,
  .flexboxgrid2__col-xl-12___1lxVN,
  .flexboxgrid2__col-xl-offset-0___rTVg4,
  .flexboxgrid2__col-xl-offset-1___1KRTF,
  .flexboxgrid2__col-xl-offset-2___3XTdA,
  .flexboxgrid2__col-xl-offset-3___1u7VM,
  .flexboxgrid2__col-xl-offset-4___1U3cj,
  .flexboxgrid2__col-xl-offset-5___1m-Bk,
  .flexboxgrid2__col-xl-offset-6___zqsMR,
  .flexboxgrid2__col-xl-offset-7___8fHBq,
  .flexboxgrid2__col-xl-offset-8___1LruZ,
  .flexboxgrid2__col-xl-offset-9___3oTGD,
  .flexboxgrid2__col-xl-offset-10___2eReq,
  .flexboxgrid2__col-xl-offset-11___kuo4A,
  .flexboxgrid2__col-xl-offset-12___1WvjR {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 8px;
    padding-left: 8px;
  }

  .flexboxgrid2__col-xl___3OIWS {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .flexboxgrid2__col-xl-1___1x-yZ {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .flexboxgrid2__col-xl-2___oe1yn {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .flexboxgrid2__col-xl-3___1DZkD {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .flexboxgrid2__col-xl-4___e7X-g {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .flexboxgrid2__col-xl-5___1K3om {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .flexboxgrid2__col-xl-6___pj3oz {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .flexboxgrid2__col-xl-7___2lbXv {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .flexboxgrid2__col-xl-8___2T9rc {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .flexboxgrid2__col-xl-9___4Cdy9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .flexboxgrid2__col-xl-10___pgLUE {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .flexboxgrid2__col-xl-11___fOAzP {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .flexboxgrid2__col-xl-12___1lxVN {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .flexboxgrid2__col-xl-offset-0___rTVg4 {
    margin-left: 0;
  }

  .flexboxgrid2__col-xl-offset-1___1KRTF {
    margin-left: 8.33333333%;
  }

  .flexboxgrid2__col-xl-offset-2___3XTdA {
    margin-left: 16.66666667%;
  }

  .flexboxgrid2__col-xl-offset-3___1u7VM {
    margin-left: 25%;
  }

  .flexboxgrid2__col-xl-offset-4___1U3cj {
    margin-left: 33.33333333%;
  }

  .flexboxgrid2__col-xl-offset-5___1m-Bk {
    margin-left: 41.66666667%;
  }

  .flexboxgrid2__col-xl-offset-6___zqsMR {
    margin-left: 50%;
  }

  .flexboxgrid2__col-xl-offset-7___8fHBq {
    margin-left: 58.33333333%;
  }

  .flexboxgrid2__col-xl-offset-8___1LruZ {
    margin-left: 66.66666667%;
  }

  .flexboxgrid2__col-xl-offset-9___3oTGD {
    margin-left: 75%;
  }

  .flexboxgrid2__col-xl-offset-10___2eReq {
    margin-left: 83.33333333%;
  }

  .flexboxgrid2__col-xl-offset-11___kuo4A {
    margin-left: 91.66666667%;
  }

  .flexboxgrid2__start-xl___2Ur_r {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .flexboxgrid2__center-xl___3C4Vx {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .flexboxgrid2__end-xl___2UqlC {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .flexboxgrid2__top-xl___1tLbF {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .flexboxgrid2__middle-xl___31-ID {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .flexboxgrid2__bottom-xl___p1SvR {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .flexboxgrid2__around-xl___2j28w {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .flexboxgrid2__between-xl___xff2E {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flexboxgrid2__first-xl___2QxqG {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .flexboxgrid2__last-xl___1v5wI {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .flexboxgrid2__initial-order-xl___IYbgP {
    -webkit-box-ordinal-group: NaN;
    -ms-flex-order: initial;
    order: initial;
  }
}

@media only screen and (max-width: 575px) {
  .flexboxgrid2__hidden-xs___3MgtY {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .flexboxgrid2__hidden-sm___2YMAO {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .flexboxgrid2__hidden-md___FbTYO {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .flexboxgrid2__hidden-lg___2fkvW {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .flexboxgrid2__hidden-xl___3hzYJ {
    display: none;
  }
}
