@import '@/style/colors';

.header-toolkit {
  // margin-right: 5px;
  position: relative;

  .button {
    padding: 4px 7px !important;
  }

  &:hover {
    background: $color-body-background;
    border-radius: 5px;
  }

  .active {
    background: rgba(45, 108, 202, 0.1);
    border-radius: 4px;
  }
}

.urlPopup {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 10px 10px 20px;
  position: absolute;
  width: 330px;
  z-index: 2;

  .inputContainer {
    .textLabel {
      color: #4e5156 !important;
      margin: 0 0 5px 8px !important;
      text-align: left;
    }

    .urlInput {
      background: #f9f9fb;
      border: 1px solid $color-gray-light;
      border-radius: 5px;
      height: 32px;
      margin-bottom: 8px;
      width: 225px;
  
      &:focus-visible {
        outline: none !important;
      }
    }
  }
}

.inputControlls {
  border: 0 !important;
  height: 32px !important;
  margin-top: auto;
  width: 69px;

  span {
    display: block;
    margin-left: -3px;
    margin-top: -5px;
  }
}
