@import 'src/style/colors';
@import 'src/style/fonts';
@import 'src/components/layout/style/layout';

$item-hover-color: $color-white;
$item-transition-duration: 0.3s;
$icon-size: 16px;
$icon-margin-right: auto;

.icon {
  margin-right: $icon-margin-right;
  margin-right: 8px;

  span {
    color: $color-gray-light;
  }

  svg {
    height: 18.29px;
    width: $icon-size;

    * {
      transition: fill $item-transition-duration,
        stroke $item-transition-duration;
    }
  }
}

.iconPlaceholder {
  display: inline-block;
  margin-right: $icon-margin-right;
  width: $icon-size;
}

.noPlan {
  &:global(.ant-menu) {
    margin-bottom: 130px;
  }
}

.menu {
  flex-grow: 1;
  font-weight: 500;
  overflow: hidden;
  position: relative;

  * {
    font-family: 'Inter', sans-serif;
  }

  &:global(.ant-menu) {
    background: #24262a;
    border-right: 0 !important;
    // margin-bottom: 125px;
    overflow-y: hidden;
    padding: 0 10px;

    @media screen and (max-height: 620px) {
      height: calc(100vh + 40%);

    }
    @media screen and (max-height: 520px) {
      height: calc(100vh + 80%);

    }
    @media screen and (max-height: 420px) {
      height: calc(100vh + 800px);

    }
    @media screen and (max-height: 320px) {
      height: calc(100vh + 1200px);

    }
  }

  :global(.ant-menu-submenu-title),
  :global(.ant-menu-item) {
    background: #24262a;
    border-radius: 4px;
    color: $color-gray-light;
    font-size: $font-size-14;
    font-weight: 400;
    height: 38px;
    line-height: 38px;
    margin: 0 !important;
    padding-left: 8px !important;
    width: 220px;

    &:hover {
      background: rgba(78, 81, 86, 0.5);
    }

    > :global(.ant-menu-submenu-arrow) {
      transform: translateY(0) !important;

      &::before,
      &::after {
        background: $color-icons !important;
        // transition: background-color $item-transition-duration !important;
        width: 10px;
      }

      &::after {
        transform: rotate(0deg) translateX(0);
      }

      &::before {
        transform: rotate(90deg) translateX(0);
      }
    }

    &:global(.ant-menu-item-selected) {
      background: rgba(185, 140, 228, 0.2) !important;
      border-radius: 4px;
      color: #fff !important;
      padding-left: 0 !important;
      width: 220px;

      a {
        background-color: transparent !important;
      }

      &::after {
        display: none;
      }


      .icon {
        span {
          color: #b98ce4 !important;
        }

        svg {
          &:global(.svg-color-fill) {
            fill: $item-hover-color;
          }

          &:global(.svg-color-stroke) {
            stroke: $item-hover-color;
          }
        }
      }

      > :global(.ant-menu-submenu-arrow) {
        transition: none !important;

        &::before,
        &::after {
          background-color: #24262a !important;
        }
      }
    }
  }

  :global(.ant-menu-submenu-open) {
    :global(.ant-menu-submenu-title) {
      background: rgba(78, 81, 86, 0.2);
      border-radius: 4px;

      &:hover {
        background: rgba(78, 81, 86, 0.5);
      }
    }

    :global(.ant-menu-submenu-arrow) {
      &::before,
      &::after {
        transform: rotate(0deg) translateX(0) !important;
      }
    }
  }

  :global(.ant-menu-item-group) {
    border-bottom: 1px solid #4e5156;
    border-radius: 0;
    margin-bottom: 0.7rem;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 8px;

    :global(.ant-menu-item-group-title) {
      color: $color-white;
      font-size: $font-size-12;
      font-weight: 500;
      height: 34px;
      line-height: 15px;
      padding-left: 8px !important;
      text-transform: uppercase;
    }

    :global(.ant-menu-submenu) {
      padding: 0 !important;
    }

    :global(.ant-menu-inline) {
      padding: 3px 0 12px;
    }



    :global(.ant-menu-sub) {
      :global(.ant-menu-item) {
        background: none;
        border-radius: 4px;
        height: 32px;
        line-height: 32px;
        margin-left: 16px !important;
        padding: 0;

        a {
          border-radius: 4px;
          color: #a3a4a4 !important;
          display: block;
          font-size: 13px;
          width: 100%;

          &:hover {
            background: rgba(78, 81, 86, 0.2);
            color: #fff !important;
          }
        }

        &:global(.ant-menu-item-selected) {
          margin-left: 25px !important;
          width: 200px;

          a {
            color: #fff !important;
          }
        }
      }
    }

    :global(.ant-menu-submenu-title) {
      color: $color-white-secondary;
      font-size: $font-size-14;
      font-weight: 400;


      &:hover {
        color: $color-white;
      }

      &:active {
        background-color: #24262a !important;
      }
    }

    :global(.ant-menu-sub) {
      background-color: #24262a !important;
      position: relative;

      &::before {
        background: #4e5156;
        content: '';
        display: block;
        height: calc(100% - 32px);
        left: 15px;
        position: absolute;
        top: 10px;
        width: 1px;
      }

    }}

}

.disabledOverrite {
  background-color: #282828 !important;
  color: $color-icons;
  pointer-events: none !important;


  &:hover {
    color: $color-icons;
    cursor: not-allowed !important;
  }
}

.linkItem {
  color: #e8e8e8 !important;

  &:hover {
    color: $color-white !important;
  }

  .icon {
    :global(.anticon) {
      color: #a3a4a4 !important;
      // margin-right: 10px;
    }
  }

}

.freeConsultation {
  bottom: 20px;
  left: 20px;
  margin: 0 auto;
  position: fixed;
  width: 190px;
  z-index: 3 !important;

  :global(.ant-menu-submenu-title) {
    border-radius: 0 !important;
    color: $color-white !important;
    margin-right: 10px;
    padding-left: 12px !important;

    :global(.ant-menu-title-content) {
      color: $color-white !important;
      height: 38px;
    }

    &:hover {
      border-radius: 0;
      width: 100% !important;
    }

    &:active {
      background-color: #24262a !important;
    }

    :global(.ant-menu-submenu-arrow) {
      display: none;
    }
  }

  .icon {
    margin-right: $icon-margin-right;

    span {
      color: $color-gray-light;
    }

    svg {

      width: $icon-size;

      * {
        transition: fill $item-transition-duration,
          stroke $item-transition-duration;
      }
    }
  }
}

@media (max-width:992px) {
  .freeConsultation {
    display: none;
  }
}

.sidebarCTA {
  background: #24262a !important;
  bottom: 0;
  height: 145px;
  left: 0;

  position: fixed !important;
  width: 240px;
  @media (max-height:700px) {
    width: 240px;
  }

  p:first-child {
    bottom: 100px;
    color: $color-light-gray;
    font-size: $font-size-12;
    font-weight: 300;
    left: 20px;
    position: fixed !important;
  }

  p:nth-child(2) {
    bottom: 75px;
    color: $color-light-gray;
    font-size: $font-size-12;
    font-weight: 300;
    left: 20px;
    position: fixed !important;
  }

  .borderCTA {
    border-bottom: 1px solid $color-divider;
    bottom: 140px;
    height: 1px;
    left: 20px;
    margin: 5px auto;
    position: fixed !important;
    width: 200px;
  }
  @media (max-width:992px) {
    display: none;
  }
}

.alphaBadge {
  align-items: center;
  background-color: #4a4c51;
  border-radius: 50px;
  color: #fff;
  display: flex;
  font-size: 11px;
  height: 19px;
  margin-left: 7px;
  padding: 0 9px;
  width: max-content;
}
