@import 'src/style/fonts';
.kwInputDesc {
    color: #a3a4a4;
    font-size: $font-size-12;
  
    .kwDescriptionBtnWithBg {
      background-color: #36383e;
      border-radius: 3px;
      padding: 1px 3px;
    }
  }